extends layout

block content
  h3 予定の編集
  form(method="post", action="/schedules/#{schedule.scheduleId}?edit=1")
    input(type="hidden" name="_csrf" value!="#{csrfToken}")
    div(class="form-group")
      label(for="scheduleName") 予定名
      input(id="scheduleName" class="form-control" type="text" name="scheduleName" value="#{schedule.scheduleName}")
    div(class="form-group")
      label(for="memo") メモ
      textarea(id="memo" class="form-control" name="memo") #{schedule.memo}
    div(class="form-group")
      label 既存の日程候補
      ul(class="list-group")
        each candidate in candidates
          li(class="list-group-item") #{candidate.candidateName}
      label(for="candidates") 候補日程の追加 (改行して複数入力してください)
      textarea(id="candidates" class="form-control" name="candidates")
    div
      button(class="btn btn-info" type="submit") 以上の内容で予定を編集する
  h3 危険な変更
  form(method="post", action="/schedules/#{schedule.scheduleId}?delete=1")
    input(type="hidden" name="_csrf" value!="#{csrfToken}")
    button(class="btn btn-danger" type="submit") この予定を削除する
