extends layout

block content
  h3.my-3 Edit appointment
  form(method="post", action=`/schedules/${schedule.scheduleId}?edit=1`)
    input(type="hidden" name="_csrf" value!=csrfToken)
    div.form-group
      label(for="scheduleName") Schedule name
      input(type="text" name="scheduleName" value=schedule.scheduleName)#scheduleName.form-control
    div.form-group
      label(for="memo") Memo
      textarea(name="memo")#memo.form-control #{schedule.memo}
    div.form-group
      label Existing schedule candidates
      ul.list-group
        each candidate in candidates
          li.list-group-item #{candidate.candidateName}
      label(for="candidates").my-2 Addition of candidate dates (Please enter multiple line breaks)
      textarea(name="candidates")#candidates.form-control
    div
      button(type="submit").btn.btn-info Edit the schedule with the above contents
  h3.my-3 Dangerous changes
  form(method="post", action=`/schedules/${schedule.scheduleId}?delete=1`)
    input(type="hidden" name="_csrf" value!=csrfToken)
    button(type="submit").btn.btn-danger Delete this appointment
