extends layout

block content
  div.card.my-3
    h4.card-header #{schedule.scheduleName}
    div.card-body
      p.card-text(style="white-space: pre;") #{schedule.memo}
    div.card-footer 作成者: #{schedule.user.username}
  label.form-label(for="share-url") 共有用 URL
  div.input-group.mb-3
    input#share-url.form-control(type="text" aria-describedby="copy-button" readonly)
    button#copy-button.btn.btn-outline-secondary(type="button") Copy
  - const isMine = parseInt(user.id) === schedule.user.userId
  if isMine
    a.btn.btn-primary(href=`/schedules/${schedule.scheduleId}/edit`) この予定を編集する
  h3.my-3 出欠表
  div.table-responsive
    table.table.table-bordered
      tr
        th 予定
        each user in users
          th #{user.username}
      each candidate in candidates
        tr
          th #{candidate.candidateName}
          each user in users
            - const availability = availabilityMapMap.get(user.userId).get(candidate.candidateId)
            - const availabilityLabels = ['欠', '？', '出'];
            - const buttonStyles = ['btn-danger', 'btn-secondary', 'btn-success'];
            td
              if user.isSelf
                button(class=`availability-toggle-button btn btn-lg ${buttonStyles[availability]}`
                  data-schedule-id=schedule.scheduleId
                  data-user-id=user.userId
                  data-candidate-id=candidate.candidateId
                  data-availability=availability) #{availabilityLabels[availability]}
              else
                h3 #{availabilityLabels[availability]}
      tr
        th コメント
        each user in users
          if user.isSelf
            td
              p
                small#self-comment #{commentMap.get(user.userId)}
              button(
                data-schedule-id=schedule.scheduleId
                data-user-id=user.userId)#self-comment-button.btn.btn-primary 編集
          else
            td
              p
                small #{commentMap.get(user.userId)}
