extend layout 

block content 
    h2 #{schedule.scheduleName}
    p 作成者: 
        a(href="/schedules") #{schedule.user.username}
    p(style="white-space:pre;") #{schedule.memo}
    if !user
        hr
        p 出欠を編集するにはログインしてください
        a.btn.btn-primary(href="/login") ログイン 
        hr
    h3.mb-3 出欠表
    table.table
        tr
            th 予定
            each user in users
                th #{user.username}
        each candidate in candidates
            tr
                td #{candidate.candidateName}
                each user in users
                    - const availability = availabilityMapMap.get(user.userId).get(candidate.candidateId)
                    - const availabilityLabels = ['欠席', '？', '出席'];
                    td
                        if user.isSelf
                            button(
                                data-schedule-id=schedule.scheduleId
                                data-candidate-id=candidate.candidateId
                                data-availability=availability
                            ).ava-toggle-btn.btn.btn-primary #{availabilityLabels[availability]}
                        else 
                            p #{availabilityLabels[availability]}
        tr
            th コメント
            each user in users
                td
                    if user.isSelf
                        p#self-comment #{commentMap.get(user.userId)}
                        button(
                            data-schedule-id=schedule.scheduleId
                        )#comment-btn.btn.btn-primary 編集
                    else 
                        p #{commentMap.get(user.userId)}
    if schedule.user.userId === user
        a(href=`/schedules/${schedule.scheduleId}/edit`).btn.btn-primary 編集 
